{% extends 'navigation-footer.html' %}

{% block content %}
{% load static %}
        <!-- ========================  Main header ======================== -->

        <section class="main-header" style="background-image:url(/static/assets/images/gallery-2.jpg)">
            <header class="hidden">
                <div class="container">
                    <h1 class="h2 title">Category</h1>
                </div>
            </header>
        </section>

        <!-- ========================  Products ======================== -->

        <section class="products">
            <header>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 text-center">
                        <h2 class="title">Product categories</h2>
                        <div class="text">
                            <p>Select category</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="row row-clean">

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-1.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Shoes</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-2.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Watches</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-3.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">TV & Hi-Fi</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-4.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Drones</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-11.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Accessories</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-5.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Cameras</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/product-6.png' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Phones</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

                <!-- === product-item === -->

                <div class="col-xs-6 col-sm-4 col-md-3">
                    <article>
                        <div class="figure-block">
                            <div class="image">
                                <a href="{% url 'product-grid' %}">
                                    <img src="{% static 'assets/images/cloth-4.jpg' %}" alt="" width="360" />
                                </a>
                            </div>
                            <div class="text">
                                <h2 class="title h4"><a href="{% url 'product-grid' %}">Fashion</a></h2>
                                <span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span>
                            </div>
                        </div>
                    </article>
                </div>

            </div><!--/row--><!--/container-->
        </section>

{% endblock %}