{% extends 'navigation-footer.html' %}

{% block content %}
{% load static %}
        <!-- ========================  Main header ======================== -->

        <section class="main-header" style="background-image:url(/static/assets/images/gallery-2.jpg)">
            <header>
                <div class="container text-center">
                    <h2 class="h2 title">Customer page</h2>
                    <ol class="breadcrumb breadcrumb-inverted">
                        <li><a href="{% url 'home' %}"><span class="icon icon-home"></span></a></li>
                        <li><a class="active" href="{% url 'login' %}">Login & Register</a></li>
                    </ol>
                </div>
            </header>
        </section>

        <!-- ========================  Login & register ======================== -->

        <section class="login-wrapper login-wrapper-page">
            <div class="container">

                <header class="hidden">
                    <h3 class="h3 title">Sign in</h3>
                </header>

                <div class="row">

                    <!-- === left content === -->

                    <div class="col-md-6 col-md-offset-3">
                        {% csrf_token %}

                        <!-- === login-wrapper === -->

                        <div class="login-wrapper">

                            <div class="white-block">

                                <!--signin-->

                                <div class="login-block login-block-signin">

                                    <div class="h4">Sign in <a href="javascript:void(0);" class="btn btn-main btn-xs btn-register pull-right">create an account</a></div>
                                    {% csrf_token %}
                                    <hr />

                                    <div class="row">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input name="email" type="text" value="" class="form-control" placeholder="User ID">
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input name="password" type="password" value="" class="form-control" placeholder="Password">
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <span class="checkbox">
                                                    <input type="checkbox" id="checkBoxId3">
                                                    <label for="checkBoxId3">Remember me</label>
                                                </span>
                                            </div>

                                            <div class="col-xs-6 text-right">
                                                <button type="submit" class="btn btn-main">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!--/signin-->
                                <!--signup-->
                                {% csrf_token %}
                                <div class="login-block login-block-signup">
                                    {% csrf_token %}
                                    <div class="h4">Register now <a href="javascript:void(0);" class="btn btn-main btn-xs btn-login pull-right">Log in</a></div>

                                    <hr />
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="first_name" type="text" value="" class="form-control" placeholder="First name ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="last_name" type="text" value="" class="form-control" placeholder="Last name ">
                                                </div>
                                            </div>

                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <input name="username" type="text" value="" class="form-control" placeholder="Username">
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input name="password" type="text" value="" class="form-control" placeholder="Password">
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <input name="password-confirm" type="text" value="" class="form-control" placeholder="Password Confirm">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="email" type="text" value="" class="form-control" placeholder="Email ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input name="phone" type="text" value="" class="form-control" placeholder="Phone">
                                                </div>
                                            </div>

                                            <ul>
                                                {%  for message in messages %}
                                                    <li>{{ message }}</li>
                                                {% endfor %}
                                            </ul>

                                            <div class="col-md-12">
                                                {% csrf_token %}
                                                <hr />
                                                <span class="checkbox">
                                                    <input type="checkbox" id="checkBoxId1">
                                                    <label for="checkBoxId1">I have read and accepted the <a href="#">terms</a>, as well as read and understood our terms of <a href="#">business contidions</a></label>
                                                </span>
                                                <span class="checkbox">
                                                    <input type="checkbox" id="checkBoxId2">
                                                    <label for="checkBoxId2">Subscribe to exciting newsletters and great tips</label>
                                                </span>
                                                <hr />
                                            </div>

                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-main btn-block">Create account</a>
                                            </div>

                                        </div>
                                    </form>
                                </div> <!--/signup-->
                            </div>
                        </div> <!--/login-wrapper-->
                    </div> <!--/col-md-6-->

                </div>

            </div>
        </section>


{% endblock %}